@model IEnumerable<CRUD_mvc3.Models.equipamentos>

@{
    ViewBag.Title = "Cadastro de Equipamentos";
}

    <h2>Cadastro de Equipamentos</h2>

    <script src="requisicao.js"></script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logradouro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qsa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logradouro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qsa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipamento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.equipamentosId }) |
            @Html.ActionLink("Details", "Details", new { id=item.equipamentosId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.equipamentosId })
        </td>
    </tr>
}

</table>
